
<section class="vegetarian">
    <div class="container">
        <h1 class="text-center">Vegetarian Pizzas</h1>
        <div class="row">
            <div class="col-lg-3" *ngFor="let cs of vegetarian">
                <div class="box">
                    <img src="{{cs.image}}"width="100%">
                    <h4 class="mt-2">{{cs.name}}
                        {{cs.description}}
                    </h4>
                    <button class="btn btn-primary btn-sm mt-2">Order</button>
                </div>
            </div>
        </div>

    </div>
</section>