<div class="container" my-5>
    <h1 class="mb-3">Login</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addlogin()">
                <div class="mb-3">
                  <label  class="form-label">Name</label>
                  <input type="text" class="form-control" pizzaid="name" 
                  name="name" [(ngModel)]="addloginRequest.name">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="text" class="form-control" id="email"
                    name="email" [(ngModel)]="addloginRequest.email">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="text" class="form-control" id="password" 
                    name="password" [(ngModel)]="addloginRequest.password">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
    </div>
    