

.banner
{
    background-image: url('/assets/img/pizzz.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;

}
.content h1
{
    color:white;
    font-size: 60px;
    font-weight: bold;
}
.content
{
    top:30%;
    left: 20%;
    position: absolute;
}
.content a{
    text-decoration: none;
    background-color: white;
    color:black;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.content a:hover
{
    background-color: var(--primary-color);
    color: white;
}
.Pizza
{
    padding: 10px 5px;
}
.Pizza h1
{
    font-size: 18px;
    margin-top: 10px;
}
.viewmorebtn
{
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}